<div class="analyzer-shell-container">
  <app-analyzer-input
    *ngIf="!(displayResult$ | async)"
    (analyzeIngredients)="analyzeIngr($event)"
    [ingredients]="analyzerInput$ | async"
  ></app-analyzer-input>
  <app-analyzer-summary
    *ngIf="(displayResult$ | async) && (analyzerState$ | async)"
    [ingredients]="(analyzerState$ | async)?.ingredients"
    (back)="clearIngredients()"
    (totalNutrition)="displayTotal()"
  ></app-analyzer-summary>
  <app-analyzer-nutrition-list
    *ngIf="(displayTotal$ | async) && (displayResult$ | async)"
    [totalDaily]="(analyzerState$ | async)?.totalDaily"
  ></app-analyzer-nutrition-list>
</div>
